<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Insert Category data</title>
  </head>
  <body>
    <h1>Add Category data</h1>
    <a href="/category/display">Display records</a>
    <br />
    <form method="POST" action="/category/add-process">
      <table>
        <tr>
          <td>Name :</td>
          <td><input type="text" name="name" required /></td>
        </tr>
        <tr>
          <td><input type="submit" /></td>
        </tr>
      </table>
    </form>
  </body>
</html>
