<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Insert Users data</title>
  </head>
  <body>
    <h1>Add Users data</h1>
    <a href="/users/display">Display Users records</a>
    <br />
    <form method="POST" action="/users/add-process">
      <table>
        <tr>
          <td>Name :</td>
          <td><input type="text" name="name" required /></td>
        </tr>

        <tr>
          <td>Email :</td>
          <td><input type="email" name="email" required /></td>
        </tr>

        <tr>
          <td>Mobile :</td>
          <td><input type="number" name="mobile" required /></td>
        </tr>

        <tr>
          <td>Password :</td>
          <td><input type="password" name="password" required /></td>
        </tr>

        <tr>
          <td>Age :</td>
          <td><input type="number" name="age" required /></td>
        </tr>

        <tr>
          <td>Address :</td>
          <td><input type="text" name="address" required /></td>
        </tr>

        <tr>
          <td><input type="submit" /></td>
        </tr>
      </table>
    </form>
  </body>
</html>
